[Unit]
Description=Atlantis - aquarium monitoring and control system
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=always
User=atlantis
WorkingDirectory=/home/atlantis/devel/atlantis
ExecStart=/home/atlantis/devel/atlantis/atlantis.sh
ExecStop=

[Install]
WantedBy=multi-user.target
